@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* RESET */
* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

// 1. Configuration and helpers
@import "abstracts/variables", "abstracts/mixins";

// 3. Base stuff
@import "base/fonts", "base/typography";

// 4. Layout-related sections
@import "layout/header", "layout/footer";

// 5. Components
@import "components/button";

// 6. Page-specific styles
@import "pages/home";
