/*  HEADER */

.footer {
  background-color: $bgMain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
  padding: 38px 35px 47px;
  &-title {
    color: $white;
  }
  &-text {
    font-weight: $fw_normal;
    font-size: $fs_12;
    line-height: $lh-20;
    text-align: center;
    color: $brandText2;
    margin-bottom: 18px;

    @include tablet{
        font-size: $fs_16;
        line-height: $lh-26;
    }
  }
  .social-media {
    display: flex;
    align-items: center;
    column-gap: 6px;
    span {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      &.rss-icon {
        border: 1px solid $rss;
      }
      &.facebook-icon {
        border: 1px solid $facebook;
      }
      &.twitter-icon {
        border: 1px solid $twitter;
      }
      &.dribble-icon {
        border: 1px solid $dribble;
      }
      &.pinterest-icon {
        border: 1px solid $pinterest;
      }
    }
  }
  .address{
    width: 100%;
    text-align: center;
    padding: 17px 25px 0 25px;
    color: $brandText2;
    line-height: $lh-24;
    font-size: $fs_14;
    font-weight: $fw-normal;
    @include tablet{
        font-size: $fs_16;
        line-height: $lh-26;
    }
  }

  @include tablet{
    padding: 57px 138px 57px 118px;
  }


  @include desktop{
    padding: 66px 462px 70px 454px;
  }
}
