/* HEADER */


.header{
    padding: 23px 28px 0 25px;
    width: 100%;
    @include tablet {
        padding: 41px 92px 0 80px;
    }

    @include desktop {
        padding: 45px 215px ;
    }

        


    .nav{
        display: none;
        @include tablet {
            display: block;
            padding: 0 50px 43px;
            ul{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .home-link{
                    a{
                        color: $activeLink;
                        
                    }
                }
            }
        }
    }

    &-image{
        height: auto;
        width: 100%;
        
    }
}

