/* RESET */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html, body, .container{
    height: 100%;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.divider{
    height: 1px;
    width: 50%;
    display: flex;
    background-color: blue;
}

.btn-ip{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px ;
    background-color: blue;
    border: 1px solid blue;
    color: white;
    font-weight: 600;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 12px;
    transition: all 300ms;
}


.btn-ip:not(:disabled):hover{
    background-color: #fff;
    color: blue;
}

.btn-ip:disabled{
    opacity: 0.2;
}

.details{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
    background-color: green;

}