// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------


@mixin mobile {
    @media (min-width: map-get($breakpoints, 'sm')) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: map-get($breakpoints, 'md')) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: map-get($breakpoints, 'xl')) {
        @content
    }
}