// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/* FONT SIZES */
$fs_11: 0.6875rem; 
$fs_12: 0.75rem;
$fs_13: 0.8125rem;
$fs_14: 0.875rem;
$fs_16: 1rem;


/* LINE HEIGHTS */
$lh-20: 1.25rem;
$lh-22: 1.375rem;
$lh-24: 1.5rem;
$lh-26: 1.625rem;
$lh-30: 1.875rem;

/* COLORS */
$white: #fff;
$bgMain: #000;
$mainText: #4E4E4E;
$brandText: #7C7C7C;
$brandText2: #5C5C5C;
$footerText: #B9B9B9;
$rss: #F8902E;
$facebook: #39599F;
$twitter: #45B0E3;
$dribble: #D97AB0;
$pinterest: #CC212C;
$activeLink: #57A4A4;

/* FONT WEIGHTS */
$fw_normal: 400;
$fw_bold: 700;


$breakpoints: (
  sm: 20rem,
  //320px
  md: 48rem,
  // 768px
  xl: 75rem,
  // 1200px
);
