/* RESET CSS*/

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;

}


html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0c1139;
    color: white;
}


.books-container {

    padding: 40px;
    background-color: rgb(9, 42, 71);
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    border-radius: 15px;
    border: 1px solid #fff;
}


.book {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 20px;
    background-color: #0c1139;
    transition: 300ms all;
    cursor: pointer;
}

.book:hover{
    background-color: white;
    color: #0c1139;
    border: 2px solid #0c1139;
}

.book__name{
    font-size: 24px;
    text-align: center;

}

.book__author, .book__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media only screen and (min-width: 570px){
    .books-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 768px){
    .books-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

