.container {
  margin-top: 38px;
  padding-left: 25px;

  .posts-heading {
    margin-bottom: 23px;
  }

  .posts-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 28.5px;

    .post {
      &__img {
        width: 160px;
        height: 140px;
        margin-bottom: 11px;
      }
      &__title {
        color: $mainText;
        font-weight: $fw_bold;
        font-size: $fs_14;
        line-height: $lh-30;
      }
      &__comment {
        color: $brandText;
        font-size: $fs_11;
        line-height: $lh-20;
        font-weight: $fw_normal;
      }
      &__description {
        display: none;
      }

      &:last-of-type {
        display: none;
      }
    }
  }

  @include tablet {
    margin-top: 33px;
    padding-left: 80px;
    padding-right: 92px;
    .posts-container {
      .post {
        display: flex;
        align-items: start;
        column-gap: 20px;
        &__title {
          font-size: $fs_16;
        }
        &__comment {
          font-size: $fs_12;
          margin-top: 1px;
          margin-bottom: 13px;
        }
        &__description {
          display: block;
          font-weight: $fw-normal;
          font-size: $fs_14;
          line-height: $lh-26;
          color: $mainText;
        }
        &:last-of-type {
          display: flex;
        }
      }
    }
  }

  @include desktop{
    margin-top: 43px;
    padding: 0 190px 69px 215px;

    .posts-container{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
    }
  }
}

.shots {
  padding: 38px 47px 42px 25px;
  width: 100%;
  .insta-shot {
    margin-bottom: 13px;

    &-img {
      width: 100%;
      height: auto;
    }
  }
  .insta-page {
    display: none;
  }

  .images-container{
    .hidden{
      display: none;
      &-4{
        display: none;
      }
    }
    
  }

  @include tablet {
    padding: 47px 92px 58px 80px;
    margin-top: 60px;

    background-color: rgba($color: $brandText, $alpha: 0.04);
    .navigation-container {
      display: flex;
      margin-bottom: 35px;
      align-items: center;
      justify-content: space-between;
      .insta-page {
        display: inline-block;
        font-size: $fs_13;
        line-height: $lh-22;
        font-weight: $fw_bold;
        color: $mainText;
        text-transform: uppercase;
      }
      .insta-shot{
        margin-bottom: 0px;
        
      }
    }
    .images-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        .hidden{
          display: block;
          
        }
    }
  }


  @include desktop {
    padding: 47px 215px 49px;
    margin-top: 60px;

    background-color: rgba($color: $brandText, $alpha: 0.04);
    .navigation-container {
      display: flex;
      margin-bottom: 35px;
      align-items: center;
      justify-content: space-between;
      .insta-page {
        display: inline-block;
        font-size: $fs_13;
        line-height: $lh-22;
        font-weight: $fw_bold;
        color: $mainText;
        text-transform: uppercase;
      }
      .insta-shot{
        margin-bottom: 0px;
        
      }
    }
    .images-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        .hidden-4{
          display: block;
        }
    }
  }
}
