/* TYPOGRAPHY */

.nav-link {
  color: $mainText;
  letter-spacing: 1.1px;
  line-height: $lh-22;
  font-size: $fs_11;
  font-weight: $fw_normal;
  text-transform: uppercase;
  &-active {
    color: $activeLink;
  }
  &:hover{
    color: $activeLink;
  }
}

.main-heading {
  color: $mainText;
  font-weight: $fw_bold;
  font-size: $fs_14;
  line-height: $lh-22;
  text-transform: uppercase;
  @include tablet{
    font-size: $fs_16;
  }
}
