// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.menu {
  background-color: $bgMain;
  width: 44px;
  height: 38px;
  margin-bottom: 23px;
  padding: 0 14px;
  margin-left: auto;

  
  position: relative;
  &-nav {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;

    width: 182px;
    li {
      a {
        background-color: #fafafa;
        display: block;
        padding: 4.5px 13px;
        
        &:hover{
            background-color: #E5E5E5;
            color: $mainText;
        }
      }
      
    }
    .home-link {
        a{
            color: $activeLink;
        }
    }
  }

  .active-menu-nav{
    display: block;
  }

  cursor: pointer;
  @include tablet {
    display: none;
  }

  &-line,
  &-line::before,
  &-line::after {
    content: "";
    background-color: $white;
    display: block;
    height: 2px;
    width: 17px;
  }

  &-line {
    transform: translateY(18px);
    transition: 300ms background-color;
    &::before {
      bottom: 4px;
      position: absolute;
      transition: 300ms transform, 300ms 300ms bottom;
    }
    &::after {
      top: 4px;
      position: absolute;
      transition: 300ms transform, 300ms 300ms top;
    }
  }

  &-active {
    .menu-line {
      background-color: transparent;

      &::before {
        transform: rotate(-45deg);
        bottom: 0;
        transition: 300ms 300ms transform, 300ms bottom;
      }

      &::after {
        transform: rotate(45deg);
        top: 0;
        transition: 300ms 300ms transform, 300ms top;
      }
    }
  }
}
