/* RESET */
*{
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: transparent;
}


html,body{
    height: 100%;
}

body{
    background-color: azure;
}



.twitters{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin: 20px 0;
}


.card{
    padding: 10px 15px;
    width: 35%;
    background-color: #fff;
    border-radius: 8px;
}

.card__container{
    border-left: 1px solid #efeeee;
    border-right: 1px solid #efeeee;
    padding: 10px 15px;
 
}


.card__header{
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 15px;
}

.card__image{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}


.card__profile {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}

.card__profile p{
    color: gray;
    font-size: 0.875rem;
}

.three__dots{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 3px;
    align-self: flex-start;
    margin-top: 10px;
}

.dot{
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: gray;
    
}

.card__body{
    padding-bottom: 10px;
    border-bottom: 1px solid #efeeee;
}

.card__text{
    font-size: 1.125rem;
    font-weight: 500;

}

.card__history{
    margin-top: 10px;
    font-size: 0.875rem;
    color: gray;
}

.card__footer{
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 13px;
    padding-bottom: 15px;
    border-bottom: 1px solid #efeeee;
    
}


.card__info{
    color: gray;
    font-size: 0.875rem ;
}

.card__info strong{
    color: #000;
    font-size: 0.9rem;
}

.btn-delete{
    background-color: red;
    color: #fff;
     padding: 6px 8px;
     border-radius: 8px;
     margin-top: 10px;
        width: 100%;
        cursor: pointer;
        border: 1px solid red;
        transition: all 300ms;
    }

.btn-delete:hover{
    background-color: #fff;
    color: red;

}

