/* RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}




header {
    background-color: #060621;
    margin-bottom: 20px;
}

.header-container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.header-container h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header-container h5 {

    letter-spacing: 7px;

}


.movies-container {
    margin: 40px auto;
}

.movies {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}


.movie__container {
    display: flex;
    flex-direction: column;

}

img {
    width: 400px;
    height: 400px;
}

.movie {

    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;

}

.movie__detail {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}


.movie__name {
    color: black;
    font: bold;
    font-size: 1.875rem;
    margin-top: 20px;
}

.movie__desc {
    color: #060621;
    margin-top: 12px;
    line-height: 2;
    overflow: auto;
}

.movie__id {

    padding: 5px 10px;
    top: 15px;
    right: 15px;

    background-color: red;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    position: absolute;

}






.loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-top-color: #060621;
    animation: spin 0.8s linear infinite;



}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.characters {
    display: flex;
    flex-direction: column;

    border: 1px solid #060621;
    border-top: none;
    padding: 20px;
    border-radius: 0 0 20px 20px;
    gap: 10px;
}

.character__details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.character {
    display: flex;
    align-items: center;
    background-color: #060621;
    color: white;
    font-size: 1.125rem;
    padding: 10px 15px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

.characters__heading {
    font-size: 1.75rem;
    text-align: center;
    font: bold;
    margin-bottom: 10px;
}

@media only screen and (max-width:768px) {
   

    .movie {
        flex-direction: column;
        padding-top: 15px;

    }

    img {
        border-radius: 40px;
    }

   
}




/* RESPONSIVE */
/* XS */
@media only screen and (min-width: 480px) {
    .container {
        max-width: 480px;
        margin: 0 auto;
        min-width: 324px;
    }

    .character__details {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* SM */
@media only screen and (min-width: 640px) {
    .container {
        max-width: 640px;
        margin: 0 auto;

    }

    .character__details {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* MD */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;

    }

    .character__details {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* LG */
@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;

    }

    .character__details {
        grid-template-columns: repeat(4, 1fr);
    }

}


/* XL */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        margin: 0 auto;

    }


}